name: Test PRs
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  go-test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: '1.24.3'
          check-latest: true

      # run static tests
      - run: go test